html{

}
body{
  text-align: center;
  background-color: orange;

}

img.walking {
  width: 250px;
  height: 300px;
}


.firstPage {
  background-image: url("imgP/white2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1#mainPage {
  font-size: 90px;
  text-shadow: 5px 20px 10px black;
  font-family: 'UnifrakturCook', cursive;
  color: sienna;
  margin: 2px;
}

p.mainPageP {
  color: maroon;
text-shadow: grey 1px 3px 0, #aba8a8 1px 13px 5px;
  font-size:40px;
  font-family: 'Chicle', cursive;
  margin: 1px;
  padding-top: 80px;

}

.startGame {
  background-image:url("imgP/start.jpg");
  width: 200px;
  height: 120px;
  background-position: center;
  background-size: cover;
  font-size: 0px;
}

.welcome {
  width: 130px;
  height: 55px;
  background-color: #99cc99;
  font-size: 20px;
  border-radius: 20px;
  font-style: italic;
}

.gamePageBackground {
  background-image: url("imgP/white2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}
.wrappper:after {
  content: "";
  display: table;
  clear: both;
}

div#buttons {
  width: 650px;
  position: relative;
  left: 450px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
}

canvas {
  color: black;
  border: 6px double blue;
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 30px black;
}

h1{
  font-size: 90px;
  text-shadow: 10px 20px 20px black;
  font-family: 'UnifrakturCook', cursive;
  color: sienna;
  margin: 2px;
}



p {
  font-size:30px;
  font-family: 'Chicle', cursive;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: lightgreen;
  color: #006699;
  font-size: 18px;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff;
}
#alphabet li:hover {
  background: brown;
  border: solid 1px grey;
  color: #fff;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 40px;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}
.active:hover {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 15px;
  -khtml-border-radius: 5px;
  background: green;
  color: #99cc99;
  border: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #c1d72e;
  border: solid 1px #fff;
  color: #fff;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}
